<!DOCTYPE html>
<html>
    <head>
        <!-- Webiste Title -->
        <title>Amazing Dora's Barbershop</title>
    </head>
    <body>
        <!-- Main Website Header -->
        <h1>Amazing Dora's Barbershop</h1>
        <!-- First Blog Post Title -->
        <p>A Fresh Cut  For You And Your Family!</p>
        <div>
            <p>David——the professional barber for the old</p>
            <img src="http://www.ctps.cn/photonet/Profiles2011/20120703/2012731216445192.jpg">
        </div>
        <div>
            <p>Dora——the professional barber for young boys</p>
            <img src="https://tse3.mm.bing.net/th?id=OIP.DSeMyb9aLB1AVVbVyEDuggHaFj&pid=Api">
        </div>
        <div><p>Jason--the profeesional barber for young girls</p>
            <img src="https://tse3.mm.bing.net/th?id=OIP.s1FeyJVVWamCXGVG8qSEBgHaI4&pid=Api">
        </div>
        <!-- First Blog Post Text -->

        <!-- Website Footer -->
        <footer> &copy; </footer>
    </body>
</html>

